
@{
    ViewData["Title"] = "Failed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="text-center h1 text-danger">Your HTTP POST request has Failed</p>
<p class="text-center h1 text-danger"><a asp-action="Index">- Back -</a></p>