<div class="container">
    <br />
    <p class="display-4 text-center">
        Your Have a pending request!
    </p><br />
    <p class="text-center" style="font-size: 24px;">
        Kindly accomplish the acknowledgement receipt and/or rating of your previous request.
        You can check your pending request by clicking <a asp-area="CorpComm" asp-controller="Order" asp-action="Index"><strong>here</strong></a>
    </p>
</div>