@{
    ViewData["Title"] = "CollateralRequest";
}

<div class="embed-responsive embed-responsive-16by9">
    <iframe frameborder="0" class="embed-responsive-item" src="https://forms.office.com/Pages/ResponsePage.aspx?id=HQvbeNXlBU-vPMxyV1sbo7RkpMYvguZPqGy7QejA45pUMjZUVDVEQTJMWlRENFJZOUQ5VzdRRkc1TC4u"></iframe>
</div>