@{
    ViewData["Title"] = "Home Page";
}
@model List<Intranet.Models.Admin.ImageCarousel>

<p>
    @ViewBag.CheckVersion
</p>

<div class="row-fluid">
    <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @{
                    int i = 0;
                    var actives = i == 1 ? "class=active" : "";
                    foreach (var item in Model)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" @actives></li>
                    }
                }
            </ol>
            <div class="carousel-inner">
                @{
                    foreach (var item in Model)
                    {
                        i++;
                        var active = i == 1 ? "active" : "";
                        <div class="carousel-item @active">
                            <img class="d-block w-100"
                                 src="@Html.DisplayFor(modelItem => item.ImageLink)">
                            <div class="carousel-caption d-none d-md-block"
                                 style="background: rgba(0,0,0,.3);">
                                <h5 style="color: white">Sample Title</h5>
                                <p style="color: white">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ultricies ex, imperdiet volutpat erat ornare eu.
                                    <a asp-action="ReadMore" target="_blank"> <b>Read more</b></a>
                                </p>
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <br />

    <div class="col-6">
        <div class="row">
            <div class="col-sm-3 text-center border">
                <img src="https://www.pttphilippines.com/assets/images/shared/mission.png" alt="Alternate Text" />
            </div>
            <div class="col-sm-6">
                <h3 id="about-content" class="wow bounceInLeft">VISION</h3>
                <h6 id="about-inside">To be the top brand in the oil industry in the Philippines.</h6>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3 text-center">
                <img id="VGMword" class="wow bounceInUp" src="https://www.pttphilippines.com/assets/images/shared/goal.png">
            </div>
            <div class="col-sm-9">
                <h3 id="about-content">GOAL</h3>
                <h6 id="about-inside">To be recognized as a Major Oil Company and be ranked as one of the Top 5 in the oil industry in the Philippines by 2020.</h6>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3 text-center">
                <img id="VGMword" class="wow bounceInUp" src="https://www.pttphilippines.com/assets/images/shared/mission.png">
            </div>
            <div class="col-sm-9">
                <h3 id="about-content">MISSION</h3>
                <h6 id="about-inside">To conduct a complete line downstream oil business in the Philippines.</h6>
                <ul class="vision-list">
                    <li>
                        <h6>Retail Expansion</h6>
                        <h6>Operation Excellence</h6>
                        <h6>Superior Retail Standard</h6>
                        <h6>Secured Supply</h6>
                        <h6>Corporate Social Responsibility</h6>
                        <h6>Enhanced Non-oil</h6>
                        <h6>Lubricant Market Penetration</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@*@section scripts {
        <style type="text/css">
            #VGMword {
                width: 100px;
            }

            #about-content {
                font-weight: 700;
                color: #006394;
                font-family: open sans,sans-serif;
                font-size: 28px;
            }

            #about-inside {
                color: #474747;
                font-size: 16px;
                font-weight: 400;
            }

            h6 {
                color: #474747;
                font-size: 14px;
                font-weight: 400;
            }

            ul {
                list-style: none;
            }

            tr {
            }

            #myIframe {
                height: 100vh;
                /*overflow: auto;*/
                /*-webkit-overflow-scrolling: touch;*/
                /*border: solid black 1px;*/
            }

                #myIframe iframe {
                    top: 0;
                    left: 0;
                }
        </style>
    }*@