@{
    ViewData["Title"] = "Policy";
}

<h1>Quality Policy</h1>

<p>
    <div style="text-indent: 2em">
        Quality is a vital element in PTT Philippines' business. We believe that excellence, through the provision of quality products and services to our customers
        and continual performance inprovement, directly promotes our organization's effectiveness and business sustanability.
    </div>
    <div style="text-indent: 2em">
        Consistent with our core values, PTT Phillines is seeking to establish a common quality culture where our people understand and uncompromisingly manage quality risks in their working environment.
    </div>
</p>
<p>
    <ul style="font-weight:bold; text-indent: -1em;">
        We are all committed to:</b>
        <li style="font-weight:normal; text-indent: 2em;">
            <b>Comply</b> with all applicable laws and regulations including internal and industrial standards as a minimum requirement for performance achievement level.
        </li>
        <li style="font-weight:normal; text-indent: 2em;">
            Strive to promote the <b>continual improvement</b> and innovation of our products and services' quality level.
        </li>
        <li style="font-weight:normal; text-indent: 2em;">
            Engage and <b>communicate</b> with internal and external stakeholders regarding quality management information.
        </li>
        <li style="font-weight:normal; text-indent: 2em;">
            Focus on quality management throughout the organization to meet the requirements and satisfaction of our stakeholders.
        </li>
    </ul>
</p>
<p>
    <div style="text-indent: 2em">
        This policy supports the quality programs and directives from our Principal, PTT Public Company Limited.
        Executive Management is accountable for quality policy implementation and achievement.
        Management shall express thier visible leadership and all employees shall understand and comply with this policy throughout thier activities within the scope of the quality management system.
    </div>
</p>