@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">History</h2>
    </div>
</div>

<br />
<div class="p-4 border rounded">
    <table id="tblData" class="table table-hover border" 
           style="display: block; overflow-x: auto; white-space: nowrap; width:100%;">
        <thead class="thead-light">
            <tr class="table-info">
                <th>Request Number</th>
                <th>Request Date</th>
                <th>Requestor</th>
                <th>Collateral</th>
                <th>Event Type</th>
                <th>Quantity</th>
                <th>Station Name / Event Name</th>
                <th>Event Date</th>
                <th>Shipping Date</th>
                <th>Drop-Off Point</th>
                <th>Rating</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/CorpComm/history.js"></script>
}