@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">History</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-area="CorpComm"
           asp-controller="Collateral" asp-action="Index">
            &nbsp; Back to Collaretal
        </a>
    </div>
</div>

<div class="p-4 border rounded">
    <table id="tblData" class="table table-hover border"
           style="display: block; overflow-x: auto; white-space: nowrap; width:100%;">
        <thead class="thead-light">
            <tr class="table-info">
                <th>Request #</th>
                <th>Adjustment Remarks</th>
                <th>Request Date</th>
                <th>Requestor</th>
                <th>Collateral</th>
                <th>Quantity</th>
                <th>Event Type</th>
                <th>Station Name / Event Name</th>
                <th>Event Date</th>
                <th>Shipping Date</th>
                <th>Drop-Off Point</th>
                <th>Rating</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/CorpComm/history.js"></script>
}