<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>Collateral Request App</title>
</head>

<body>
    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
        <tr>
            <td align='center' valign='top' bgcolor='#fff' style='background-color:lightgray;'>
                <br>
                <br>
                <table width='600' border='0' cellspacing='0' cellpadding='0'>
                    <tr>
                        <td height='70' align='left' valign='middle'></td>
                    </tr>
                    <tr>
                        <td align='left' valign='top' bgcolor='#564319'
                            style='background-color:darkcyan; font-family:Arial, Helvetica, sans-serif; padding:10px;'>
                            <div style='font-size:36px; color:#ffffff;'>
                                <b>{0}</b>
                            </div>
                            <div style='font-size:13px; color:lightcyan;'>
                                <b>{1} : Collateral Request Application </b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align='left' valign='top' bgcolor='#ffffff' style='background-color:#ffffff;'>
                            <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                <tr>
                                    <td align='center' valign='middle'
                                        style='padding:10px; color:#564319; font-size:28px;
                                        font-family:Georgia, ' Times New Roman', Times, serif;'>
                                        <!--Congratulations! <br /> <small>Your Request is now beign processed!.</small>-->
                                    </td>
                                </tr>
                            </table>
                            <table width='95%' border='0' align='center' cellpadding='0' cellspacing='0'>

                                <tr>
                                    <td width='100%'
                                        style='color:darkslategrey; font-family:Arial, Helvetica, sans-serif; padding:10px;'>
                                        <div style='font-size:16px;'>
                                        </div>
                                        <div style='font-size:14px;'>
                                            <p>
                                                Dear <strong>{2}</strong>,
                                            </p>
                                            <p style="text-align:center">
                                                <strong>We value your feedback!</strong>
                                            </p>
                                            <p style="text-align:center">
                                                Kindly rate the service rendered to you by clicking <a href="{3}" target="_blank">here</a>. <br />
                                                We look forward to serving you again.
                                            </p>
                                            <p>
                                                Thank you!
                                            </p>
                                            <p>
                                                Best Regards,
                                            </p>
                                            <p>
                                                <strong>CORPORATE COMMUNICATIONS DEPARTMENT</strong>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <table width='100%' border='0' align='center' cellpadding='0' cellspacing='0'
                                   style='margin-bottom:15px;'>
                                <tr>
                                    <td align='left' valign='middle'
                                        style='padding:15px; font-family:Arial, Helvetica, sans-serif;'>
                                        <div style='font-size:20px; color:#564319;'>
                                            <b></b>
                                        </div>
                                        <div style='font-size:16px; color:#525252;'>
                                            <!--<b>Requestor Name         :</b>
                                            <br />
                                            <b>Email :</b>
                                            <br />-->
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                <tr>
                                    <td align='left' valign='middle'
                                        style='padding:15px; background-color:darkcyan;
                                        font-family:Arial, Helvetica, sans-serif;'>
                                        <div style='font-size:20px; color:#fff;'>
                                            <b></b>
                                        </div>
                                        <br>
                                        <div style='font-size:13px; color:aliceblue;'>

                                            <br>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>