@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="container">
        <img src="https://www.fedsmith.com/wp-content/uploads/2018/07/access-denied.jpg" class="form-control-file" alt="Alternate Text" />
    </div>
</header>